---
name: CI
'on':
  pull_request:
  push:
    branches:
      - master

jobs:
  test-8:
    name: Test 8 version
    runs-on: ubuntu-latest

    strategy: 
      fail-fast: false

      matrix:
        version_branch: [8]
        version_minor_release: [5, 6, 7, 8, 9]

    steps:
      - name: Checkout out the codebase
        uses: actions/checkout@v6

      - name: Test building image
        run: podman build -t docker-rockylinux-ansible:${{ matrix.version_branch }}.${{ matrix.version_minor_release }} ./rocky${{ matrix.version_branch }}/. --build-arg VERSION=${{ matrix.version_branch }}.${{ matrix.version_minor_release }}
      
      - name: Run the built image
        run: podman run --name test-container --detach --privileged --volume /sys/fs/cgroup:/sys/fs/cgroup:ro docker-rockylinux-ansible:${{ matrix.version_branch }}.${{ matrix.version_minor_release }}

      - name: Verify Ansible is accessible in the built image
        run: podman exec --tty test-container env TERM=xterm ansible --version

  test-9:
    name: Test 9 version
    runs-on: ubuntu-latest

    strategy: 
      fail-fast: false

      matrix:
        version_branch: [9]
        version_minor_release: [0, 1, 2, 3, 4, 5, 6]

    steps:
      - name: Checkout out the codebase
        uses: actions/checkout@v6

      - name: Test building image
        run: podman build -t docker-rockylinux-ansible:${{ matrix.version_branch }}.${{ matrix.version_minor_release }} ./rocky${{ matrix.version_branch }}/. --build-arg VERSION=${{ matrix.version_branch }}.${{ matrix.version_minor_release }}
      
      - name: Run the built image
        run: podman run --name test-container --detach --privileged --volume /sys/fs/cgroup:/sys/fs/cgroup:ro docker-rockylinux-ansible:${{ matrix.version_branch }}.${{ matrix.version_minor_release }}

      - name: Verify Ansible is accessible in the built image
        run: podman exec --tty test-container env TERM=xterm ansible --version